<div class="container">
  <div class="page-header">
    <h1>YouTube Search
      <img
        *ngIf="loading"
        src=`${loadingGif}`
        style="float: right;">
    </h1>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      <youtube-search-box
        (loading)="loading = $event"
        (results)="updateResults($event)"
      ></youtube-search-box>
    </div>
  </div>

  <div class="row">
    <youtube-search-results
      *ngFor="let result of results"
      [result]="result">
    </youtube-search-results>
  </div>
</div>
